aplcore
/Dist/
CONTINUE.dws
conga.crash
/TestResults/
/packages/*
!/packages/apl-dependencies.txt
!/packages/apl-buildlist.json
/packages_dev/*
!/packages/apl-dependencies.txt
!/packages/apl-buildlist.json