{  CIDER: {    cider_version: "0.43.0-beta-1",    dependencies: {      nuget: "",      tatin: "packages=APLGit2",    },    dependencies_dev: {      tatin: "packages_dev=TestCases",    },    distributionFolder: "Dist",    init: "APLGit2.InitializeProject",    make: "Admin.Make 1",    parent: "#",    projectSpace: "APLGit2",    project_url: "https://github.com/aplteam/APLGit2",    source: "APLSource",    tests: "TestCases.RunTests",  },  LINK: {    forceFilenames: 1,  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {    MinimumAplVersion: "18.2",  },}
